<a class="m-group__goBack" routerLink="..">&lt; Back to feed</a>
<div class="">
  <minds-groups-profile-members-invite *ngIf="canInvite" [group]="group" (invited)="invite($event)"></minds-groups-profile-members-invite>
  <div class="invitees m-search-inline">
    <div class="m-search-inline-list mdl-shadow--2dp mdl-color--white">
      <div *ngFor="let invitee of invitees; let i = index" class="m-search-inline-item m-block">
        <div class="m-avatar">
          <img src="{{minds.cdn_url}}icon/{{invitee.guid}}/small" class="mdl-shadow--2dp"/>
        </div>
        <div class="m-body">
          <h3>@{{invitee.username}}</h3>
          <p class="m-subtitle" i18n="@@GROUPS__USER_INFO">Views: {{invitee.impressions}} | Subscribers: {{invitee.subscribers_count}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-groupMembers__search" #el>
  <input
    type="text"
    name="q"
    [(ngModel)]="q"
    (keyup)="search(q)"
    placeholder="Search for a member"
    i18n-placeholder="@@GROUPS__PROFILE__MEMBERS__SEARCH_PLACEHOLDER"
    class="m-input m-border"
    />
</div>

<div class="mdl-grid m-groupMembers__list m-border">
  <div class="mdl-cell mdl-cell--6-col m-groupMembers__memberCard" *ngFor="let member of members">
      <div class="mdl-card m-border">
          <minds-card-user [object]="member" [ngClass]="{ 'minds-user-ephemeral': !member['is:member'] }">
            <div buttons>
              <minds-groups-card-user-actions-button
                class="m-button"
                *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid != member.guid"
                [group]="group"
                [user]="member"
                >
              </minds-groups-card-user-actions-button>
            </div>
          </minds-card-user>
      </div>
  </div>
</div>

<infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
</infinite-scroll>
