<div class="m-marketing m-mobile--marketing">

  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
        <img [src]="minds.cdn_assets_url + 'assets/photos/circles.png'">
    </div>

    <div class="m-marketing--hero--inner">

      <div class="m-marketing--hero--slogans">

        <h2>
          Minds Android App
        </h2>

      </div>

      <div class="m-marketing--hero--actions">
        <i class="material-icons m-mobile__giantDroid">android</i>
      </div>

    </div>

  </div>

  <section class="m-marketing--section" style="background-color: #fff; padding-bottom: 0; padding-top: 0">

    <div class="m-marketing--section--subsection m-marketing--section--subsection--first">
      <div class="m-marketing--section--subsection-container">
        <div class="m-marketing--section--subsection-left m-marketing--section--subsection-text">
          <div class = "mdl-grid">
            <div class = "mdl-cell mdl-cell--12-col ">
              <h2>Latest - 3.1.1</h2>
              <p>Released: 22th January 2019 -
                <a href="https://cdn-assets.minds.com/android/minds-3_1_1.apk?ref=com" target="_blank">
                  Download
                </a>
              </p>
              <ul class="m-mobile--marketing--list">
                <li>Group gatherings</li>
                <li>Hashtags for blogs and groups</li>
                <li>Bug fixes</li>
              </ul>
              <ul class="m-mobile--marketing--list m-mobile--marketing--list--hashes">
                <li>MD5: f58a5bb0b67c5cac9d674fece66c514e</li>
                <li>SHA256: 0ead96c1a9c31fd686767d4a45fa46f0ec1635fd16938035b111f6341dc572dc</li>
                <li>SHA512: 649d067417cd9bb7ba5ae30b2ffe20d6683bfba8362de676f747586a7e5ba6c85e5b159e3237b9187ccc289668179c51002230c1fa86c4cbcc680ec8dad1f60f</li>
              </ul>
            </div>
            <div class = "mdl-cell mdl-cell--12-col ">
                <h2>Old - 3.0.17</h2>
                <p>Released: 6th December 2018 -
                  <a href="https://cdn-assets.minds.com/android/minds-3_0_17.apk?ref=com" target="_blank">
                    Download
                  </a>
                </p>
                <ul class="m-mobile--marketing--list">
                  <li>Bug fixes</li>
                  <li>Auto updates</li>
                </ul>
                <ul class="m-mobile--marketing--list m-mobile--marketing--list--hashes">
                  <li>MD5: 5a5250d95005c7ed8c8c3bec0a8ad9ae</li>
                  <li>SHA256: d125164eecd702ca14a5f0998886bcb0d040e27db0081bd74a22596b9ff352b1</li>
                  <li>SHA512: 6ed650bf5369a3c024dd5570c56137e74d820fcda99240e79ca556cd75356f72c4b591129735270fdd3f47f6d98fc073b347fc0d0b6ea55d7453546c4737b4bb</li>
                </ul>
              </div>
          </div>

        </div>
        <div class="m-marketing--section--subsection-right m-marketing--section--subsection-image" style="text-align: center">
          <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.jpg'" />
        </div>
      </div>
    </div>

  </section>



</div>

<m-footer></m-footer>
