<div class="m-videochat--error ng-star-inserted" *ngIf="showNotice">
  <h3>There was an error loading Jitsi</h3>
  <p>
    Please make sure you have enabled 3rd party cookies and refresh this page.
  </p>
  <p>
    If the problem persists, please contact our <a [routerLink]="['/groups/profile', '100000000000000681']">Help &
    Support group</a>.
  </p>
</div>

<div #meet *ngIf="isActive">

</div>
